<h2>Upload Parts</h2>

<form action='/upload_parts' method='POST' enctype="multipart/form-data">
  <h5>Choose zip file</h5>
  <div class="input-group mb-3">
    <input name="file" type="file" class="form-control" accept=".zip">
  </div>
  <input class="btn btn-dark" type="submit" value="Generate">
</form>

